extends includes/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-collapse.collapse
                ul.nav.navbar-nav(ng-controller="LoginCtrl")
                    li
                        a(href="#/") Home
                    li
                        a(href="#/products") Products
                    li(ng-show="identity.currentUser.isSeller()")
                        a(href="#/products/add") Add Products
                    li(ng-show="identity.currentUser.isAdmin()")
                        a(href="#/messages") Messages
                    li(ng-show="identity.currentUser.isAdmin()")
                        a(href="#/messages/add") Add Message
                div(ng-include="'partials/account/login'")

    section
        div(ng-view)

    footer
        p.text-center
            | &copy; Telerik Academy 2014